
.login-link {
    color: white; 
    text-decoration: none;
  }
  
  .login-link:hover {
    color: #ddd; 
  }
  .create-link{
    color: white;
    text-decoration: none;
  }
  .create-link:hover{
    color: white;
    text-decoration: none;
  }
  